@{
    Layout = null;
}
@model AuthManage.MVC.Models.LoginModel
<!DOCTYPE html>
<html>
<head>
    <title>登录页面</title>
    <meta name="Login" http-equiv="content-type"/>
    <environment names="Development">
        <!--css引入-->
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/AdminLTE.css" /><!--建立在bootstrap之上的css-->
        <link rel="stylesheet" href="~/css/site.css" /><!--自定义css-->
        <!--js引入-->
        <!--Cookie-->
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/jquery.cookie/jquery.cookie.js"></script>
    </environment>
    <environment names="Staging,Production">
        <!--css引入-->
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/AdminLTE.css" /><!--建立在bootstrap之上的css-->
        <link rel="stylesheet" href="~/css/site.css" /><!--自定义css-->
        <!--js引入-->
        <!--Cookie-->
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/jquery.cookie/jquery.cookie.js"></script>
    </environment>
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href="#">Authorization</a>
        </div>
        <div class="login-box-body">
            <p class="login-box-msg">权限管理系统</p>
            @Html.ValidationSummary(true)
            <form action="~/Login/Index" method="post" onsubmit="onSubmit()">
                <div class="form-group has-feedback">
                    @Html.TextBoxFor(m => m.Username, new { @class = "form-control", placeholder = "用户名" })
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                    @Html.ValidationMessageFor(m => m.Username)
                </div>
                <div class="form-group has-feedback">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "密码" })
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    @Html.ValidationMessageFor(m => m.Password)
                </div>
                <div class="row">
                    <div class="col-xs-8">
                        <div class="checkbox icheck">
                            <label class="label_new">
                                <input id="RememberMe" type="checkbox">记住我
                            </label>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <input type="submit" value="登录" class="btn btn-primary btn-block btn-flat" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>

<script type="text/javascript">
    $(function () { 
        //验证是否设置了cookie
        if ($.cookie("username") != undefined)
        {
            //置用户名、密码文本框
            $("#Username").val($.cookie("username"));
            $("#Password").val($.cookie("password"));
            //置“记住我”单选框
            $("#RememberMe").attr("checked", "checked");
        }
    });

    //每执行一次submit，实现相应操作
    function onSubmit()
    {
        if ($("#RememberMe:checked").length > 0)//设置cookie
        {
            $.cookie("username", $("#Username").val(), { expires: 7 });
            $.cookie("password", $("#Password").val(), { expires: 7 });
        }
        else//清除cookie
        {
            $.removeCookie("username");
            $.removeCookie("password");
        }
    }
</script>

